<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Albums</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Albums</h1>

  <button onclick="window.location.href='/'" class="home-button">Home</button>

  <div class="album-list">
    <% albums.forEach(album => { %>
      <div class="album-item">
        <div class="album-details">
          <p class="album-info"><strong>Album Name:</strong> <%= album.release_name %></p>
          <p class="album-info"><strong>Artist Name:</strong> <%= album.artist_name %></p>
          <p class="album-info"><strong>Release Date:</strong> <%= album.release_date %></p>
          <p class="album-info"><strong>Description:</strong> <%= album.descriptors %></p>
        </div>
        <div class="album-actions">
          <button onclick="window.location.href='/albums/read/<%= album.id %>'">Read</button>
          <button onclick="window.location.href='/albums/edit/<%= album.id %>'">Edit</button>
          <form class="delete-form" action="/albums/<%= album.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    <% }); %>
  </div>

  <div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="/albums?page=<%= currentPage - 1 %>" class="pagination-button">Back</a>
    <% } %>
    <% if (currentPage === 1) { %>
      <a href="/albums?page=<%= totalPages %>" class="pagination-button">Last Page</a>
    <% } %>
    <% if (currentPage < totalPages) { %>
      <a href="/albums?page=<%= currentPage + 1 %>" class="pagination-button">Next</a>
    <% } %>
</div>
  <h2>Add new album</h2>
  <form action="/albums" method="post">
    <input type="text" name="release_name" placeholder="Album name" required>
    <input type="text" name="artist_name" placeholder="Artist name" required>
    <input type="date" name="release_date" required>
    <input type="text" name="descriptors" placeholder="Album description" required>
    <button type="submit">Create</button>
  </form>

  <script>
    const deleteForms = document.querySelectorAll('.delete-form');
    deleteForms.forEach(form => {
      form.addEventListener('submit', event => {
        const confirmation = confirm('Are you sure you want to delete this album?');
        if (!confirmation) {
          event.preventDefault();
        }
      });
    });
  </script>
</body>
</html>
