<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Delete Album</title>
</head>
<body>
  <h1>Delete Album</h1>
  <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
    <p>Are you sure you want to delete this album?</p>
    <p>Title: <%= album.release_name %></p>
    <p>Artist: <%= album.artist_name %></p>
    <p>Release Date: <%= album.release_date %></p>
    <button onclick="deleteAlbum('<%= album.id %>')">Delete</button>
  </form>
</body>
</html>
